html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
}
main{
    overflow: hidden;
}

/* font family */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    overflow: visible;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.bubble {
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    text-transform: uppercase;
    color: #fff;
    width:50px;
    height: 50px;
    background-color: rgb(254, 93, 93);
    border-radius: 50%;
    position: relative;
    animation: bubble 1.5s infinite ease-in-out;
}

@keyframes bubble {
    0%, 100% {
        transform: scale(5);
    }
    50% {
        transform: scale(0.5);
    }
}

.backgroud-img{
    background: url("./images/construction2.webp") center/cover no-repeat;
    height: 100%;
    /* opacity: ; */
    /* background-color: rgba(0, 0, 0, 1); */
    background-attachment: fixed;
    
    
}
.stage1{
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
    /* background-color: transparent; */
}
.stage1-caption{
    margin-left: 30px;
    margin-right: 20px;
    color: #fff;
}
.stage1-caption h1{
    font-size: 75px;
    margin-bottom: 0;
    position: relative;
    top: 50px; /* Start position */
    opacity: 0;
    animation: slideUp 0.7s forwards;
    animation-delay: 1s; /* Delay to ensure it happens after page load */
}

@keyframes slideUp {
    to {
        top: 0; /* End position */
        opacity: 1;
    }
}
.stage1-caption p{
    font-size: 28px;
    margin-top: 10px;
    font-weight: bolder;
}
.stage1-btn{
    margin-top: 30px;
    padding: 25px ;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    color: #2D2727;
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(253, 249, 249);
}
.stage1-btn a{
    color: #2D2727;
    text-decoration: none;
}
.stage1-btn i{
    transform: rotate(50deg);
    width: 30px;
    
}
.stage1-btn:hover.stage1-btn a{
    color: #fff;
}
.stage1-btn:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid rgb(253, 249, 249);
   
}
.stage1-btn:hover.stage1-btn i{
    transform: rotate(360deg);
    transition: all 0.3s linear;
}
.stage2{
    border-bottom: 1px solid  rgb(254, 93, 93);
    
    padding-right: 20px;
}
.stage2-container{
    margin-right: 20px;
    
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-caption{
    border-right: 1px solid rgb(254, 93, 93);
    padding-top: 30px;
    width: 100%;
}
.left-top{
    /* margin-left: 50px; */
    padding-left: 50px;
    /* padding-right: 70px; */
    padding-bottom: 50px;
}
.left-top span{
    text-transform: uppercase;
    font-size: 15px;
    color: #2D2727;
    font-weight: bolder;
}
.left-top h2{
    font-weight: 500;
    padding-top: 20px;
    color: #2D2727;
    font-size: 30px;
    width: 480px;
    line-height: 1.5;  
}
/* slide up text */
.slide-up {
    position: relative;
    top: 70px; /* Start position */
    opacity: 0;
    transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.slide-up.show {
    top: 0; /* End position */
    opacity: 1;
    transition: top 0,7s ease-in-out;
}
.left-top p{
    color: #2D2727;
    font-weight: lighter;
    line-height: 1.5;
padding-top: 30px;
max-width: 350px;

}
.stage2-btn{
    margin-top: 30px;
    padding: 25px ;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    background-color: black;
}
.stage2-btn a{
    color: #fff;
    text-decoration: none;
}
.stage2-btn i{
    transform: rotate(50deg);
    width: 30px;
    
}
.stage2-btn:hover.stage2-btn a{
    color: black;
}
.stage2-btn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
   
}
.stage2-btn:hover.stage2-btn i{
    transform: rotate(360deg);
    transition: all 0.3s linear;
}
.three-box{
    display: flex;
    border-top: 1px solid  rgb(254, 93, 93);
    text-align: center;
   
    
}
.progess b{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    line-height: 1.6;

}
.progess p{
    letter-spacing: 2px;
    line-height: 2;
    /* font-weight: lighter; */
    text-transform: capitalize;
    font-size: 16px;
    color: #2D2727;
    font-family: sans-serif;
   
}
.progess{
    align-self: center;
    /* box-sizing: border-box; */
    width: 32%;
    padding: 70px 5px;
    border-right: 1px solid  rgb(254, 93, 93);
}

.progess:nth-child(1) {
    border-left: none;
}
.progess:nth-child(3) {
    border-right: none;
}
.right-picture{
   /* margin-right: 100px; */
    padding-left: 30px;
    padding-top: 30px;
    width: 100%; 
}
.picture{
width: 97%;
}
.picture img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%; 
    }
.stage3{
    /* position: relative; */
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.stage3-container{
    /* position: relative; */
    margin-left: 50px;
    margin-right: 20px;
}
.gallery-slider{
 position: relative;  
}
.stage3-caption{
    display: flex;
    justify-content: space-between;
}
.stage3-caption span{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1;
    line-height: 1.5;
   color: #2D2727;
}
.stage3-caption p{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1;
  color: #2D2727;
    padding-top: 20px;
}
.btn{
    padding: 25px ;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #2D2727; 
}
.btn i{
    transform: rotate(50deg);
    width: 30px;
}

.btn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
   
}
.btn:hover.btn i{
    transform: rotate(360deg);
    transition: all 0.3s linear;
}
.slider{
    padding-top: 50px;
    padding-bottom: 30px;
   height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slides {
    cursor: pointer;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    max-width: 100%;
    margin-right: 10px;
    min-width: 47%;
    padding-bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;
    height: 500px;
    transition:all transform 0.1s, opacity 0.3;
  }
  .slide:hover.slide img{
    /* transition: transform 0.1s, opacity 0.3s; */
    transform: scale(1.050);
    outline: none;
    opacity: 0.5;
    transition:all  1.3s ease-in-out;
    cursor: pointer;

  }
  .slide img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .slide p{
    letter-spacing: 1.4;
    font-weight: 500;
    margin-top: 10px;
    font-size: 15;
    color: #2D2727;
  }
  .slider-btn button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: black;
   background-color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .prev {
   
    left: 10px;
    border-radius: 50px;
  }
  
  .next {
    right: 10px;
    border-radius: 50px;
  }
  .stage4{
    border-top: 1px solid rgb(254, 93, 93);
    border-bottom: 1px solid rgb(254, 93, 93);
  }
  .stage4-container{
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .left-grid{
    max-width: 100%;
   padding: 50px 30px 50px 0;
   /* position: relative; */
  }
  .stage4-caption{
    padding-top: 70px;
  }
.stage4-caption span{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.stage4-caption h4{
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 1.6;
    width: 325px;
    text-transform: capitalize;
    font-weight: 530;
}
.right-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid rgb(254, 93, 93);
}
.grid-colum{
    max-width: 100%;
    padding: 50px 30px 50px 30px;
}
.grid-colum:nth-child(1){
    border-bottom: 1px solid rgb(254, 93, 93);
}
.grid-colum:nth-child(2){
    border-bottom: 1px solid rgb(254, 93, 93);
    padding-right: 40px;
    border-left: 1px solid rgb(254, 93, 93);
}

.grid-colum:nth-child(4){
    /* border-bottom: 1px solid rgb(254, 93, 93); */
    padding-right: 40px;
    border-left: 1px solid rgb(254, 93, 93);
}
.grid-cap {
    padding-top: 50px;
    padding-bottom: 50px;
}
.grid-cap img{
    width: 40px;
    color: #2D2727;
}
.grid-cap span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 540;
    font-size: 14px;
    color: #2D2727;
    line-height: 5;
}
.grid-cap p{
    color: #2D2727;
    font-size: 15px;
    line-height: 2;
    /* margin-top: 30px; */
}
.stage5{
    border-bottom: 1px solid rgb(254, 93, 93);
/* height: 90vh; */
}
.stage5-container{
    max-width: 100%;
    margin-right: 40px;
    margin-left: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.stage5-caption{
    /* position: relative;
    top: 100px; */
    /* padding: 50px; */
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    text-align: left;
    align-self: center;
}
.stage5-caption b{
    /* margin-top: 50px; */
    letter-spacing: 0.05em;
    line-height: 3;
    font-size: 14px;
    /* letter-spacing: 1px; */
    font-weight: 550;
    color: #2D2727;
}
.stage5-caption h4{
    letter-spacing: 0.05em;
    line-height: 1.6;
    font-size: 30px;
    font-weight: 500;
    color: #2D2727;
    margin-bottom: 30px;
}
.stage5-caption span{
    color: #2D2727;
    line-height: 3;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
}
.stage5-caption p{
    margin-bottom: 50px;
    color: #2D2727;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}
.video{
    /* border-left: 1px solid rgb(254, 93, 93); */
    overflow: hidden;
    height: 90vh;
    display: flex;
    flex-grow: 1;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;

}
#myVideo{
    height: 100%;
    width: auto;
    cursor: pointer;
}
.video button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 50%;
    display: none; 
}
.video i{
    color: white;
    font-size: 70px;
    
}
.stage6{
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.stage6-container{
  background-color:  rgb(45, 39, 39);
  
}
.stage6-caption{
    text-align: center;
    color: #fff;
    padding-top: 100px;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
}
.stage6-caption span{
    line-height: 5;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
}
.stage6-caption p{
    line-height: 1.4;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 360px;
    display: inline-block;
   
}
.partner{
    align-items: center;
    padding: 50px 50px 50px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.partner img{
    width: 100%;
}
#myBtn {
    display: none;
    background-color: rgb(254, 93, 93);
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    text-transform: capitalize;
    color: #2D2727;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;

  }
  
  #myBtn:hover {
    background-color: rgb(45, 39, 39);
    color: #fff;
  }
  #myBtn i{
    display: none;
    transform: rotate(270deg);
  }
  #myBtn:hover#myBtn i{
    display: inline-block;
  }

